h1{
  font-size:25px;
  text-align:center;
  font-family:'Yusei Magic', sans-serif;
  color:#FF0066;
}

.menu{
  border:1px solid black;
  list-style: none;
  margin-left: 0px;
  padding-left: 0px;
  display:flex;
  flex-direction: column;
  height:250px;

}

.menu li{
  border:1px solid red;
  flex-basis: 25%;
  text-transform: uppercase;
  text-align: center;
  padding-top:15px;
  color:#FF0066;
  font-family:'Yusei Magic', sans-serif;
  text-shadow: 1px 0px 1px #FF0066;
}

section{
  color:azure;
  line-height: 25px;
  background-color: #FF0066;
}
